# Python-Data-Mining [2주차] 
## CH1. 데이터 마이닝 개요

### 1.데이터 마이닝 프로세스
목적 결정 > 데이터 수집 > 데이터 탐색 및 정제 > 데이터 마이닝 방법 결정 > 최종 모델 결정 > 성능 평가 > 적용

### 2. 지도학습과 비지도 학습
>지도 학습
- 단일대상 또는 결과 변수예측
- 모델링에 사용되는 데이터를 학습 데이터라 부름
- 분류 및 예측

>비지도 학습  >>>최근 더 많이 이용되는 추세
- 예측하거나 분류할 타깃(결과)변수 없이 입력 데이터 내부의 패턴을 스스로 학습
- 데이터 내 연관 규칙을 찾고, 비슷한 관측치끼리 군집하며, 차원을 축소하는데 사용
- 연관 규칙, 협업 필터, 데이터 축소 및 탐색, 시각화 


### 3. 분류 및 예측 
>분류
- 범주형 변수의 미래 값 예측
    (범주형 데이터는 ‘A’, ‘B’, ‘C’와 같이 종류를 표시하는 데이터를 말한다. 카테고리(category)데이터라고도 부른다. ex. 성별, 혈액형)
- ex. 제안 >> 응답/ 응답 안함 , 대출 >> 적시 상환/ 연체/ 파산 , 신용카드 거래 >> 정상/사기 등

>예측 Prediction *
- 숫자로 표현된 연속형 변수의 미래 값 예측
    즉, 숫자,문서,이미지 등의 여러가지 입력 데이터를 주면, 데이터 분석의 결과로 다른 데이터를 출력하는 분석 방법
- ex. 판매, 수익, 성과


### 4. 연관 규칙과 추천 시스템 
>연관 규칙 * 데이터정제시 가장 중요하다, 데이터 특징 feature할 경우의 point
- 상호 연관성이 높은 항목 집합들을 찾아내는 분석 방법
    - ex. 슈퍼마켓에서 제품간 연관성을 분석해 주간프로모션 쿠폰 발행, 비슷한 제품 비슷한 장소에 진열

>추천 시스템
- 아마존, 넷플릭스는 협업 필터링 기법을 사용함
- 협업 필터링은 개개인의 포괄적인 과거 구매 정보와 다른 사람들의 구매 정보를 이용해 개개인의 구매 성향을 예측하는 추천 시스템 기법으로, 모든 고객의 일반적인 패턴을 찾는 연관 규칙과는 달리 개개인 맞춤 패턴 찾을 수 있음


### 5. 데이터 축소와 자원 축소
>데이터 축소/차원축소(Dimension Reduction)  *많은 파라미터들 중 버릴것과 그룹화 할것을 구분해 축소하는 과정
- 많은 수의 관측치를 적은 수의 그룹으로 요약하는 과정 

>자원 축소
- 변수의 개수를 줄이는 과정
- 지도 학습 전, 예측 성능을 향상하고 해석을 용이하게 하기 위해 자원 축소 진행


### 6. 데이터 탐색과 시각화 
>데이터 탐색
- 데이터의 전반적인 패턴과 특이 패턴을 찾는 것
- 데이터를 탐색할 때 차트나 대시보드 등을 이용하는 것을 데이터 시각화 or 시각화 애널리틱스라고 함

>데이터 탐색에서의 데이터 시각화 
- 수치 변수의 경우 히스토그램이나 박스 플롯을 이용해 데이터의 분포를 파악하고 이상치 탐지
- 범주형 변수의 경우, 막대그래프 이용
- 산점도를 이용해 변수들 간 상관관계를 파악하고 이상치 발견 가능


### 7. 데이터 마이닝 수행 단계 
(1) 데이터 마이닝 프로젝트의 목적 정확히 설정
(2) 분석에 필요한 데이터셋 획득
(3) 데이터의 탐색, 정제, 전처리
(4) 필요시 데이터 축소
(5) 데이터 마이닝 문제 결정 - <분류, 예측, 군집>
(6) 데이터 분할하기 ~ 지도학습의 경우에만 해당함
(7) 사용할 데이터 마이닝 기법 선택 - 회귀 분석, 인공 신경망, 계층 군집 등
(8) 알고리즘 사용해 결과 해석
(9) 알고리즘 결과 해석
(10)모델 적용

## 웨스트 록스베리 지역의 주택 가치 예측
데이터셋(WestRoxbury.csv)
> https://github.com/reisanar/datasets/blob/master/WestRoxbury.csv
> 원데이터(Property Assessment FY2014) https://data.boston.gov/dataset/propertyassessment/resource/7190b0a4-30c4-44c5-911d-c34f60b22181

In [26]:
#데이터로부터 데이터 셋(자료집합)을 생성하고 불러오는 코드
import pandas as pd

In [27]:
housing_df=pd.read_csv('/Users/shimyuna/Downloads/WestRoxbury.csv')
housing_df

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,None
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2,0,1,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5797,404.8,5092,6762,1938,2594,1714,2.0,9,3,2,1,1,1,Recent
5798,407.9,5131,9408,1950,2414,1333,2.0,6,3,1,1,1,1,None
5799,406.5,5113,7198,1987,2480,1674,2.0,7,3,1,1,1,1,None
5800,308.7,3883,6890,1946,2000,1000,1.0,5,2,1,0,1,0,None
5801,447.6,5630,7406,1950,2510,1600,2.0,7,3,1,1,1,1,None

In [28]:
#데이터 프레임의 차원 확인
housing_df.shape

(5802, 14)

In [29]:
# 데이터의 일부분 중, 상단 부분만 출력하여 보여줌
housing_df.head(10)

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,None
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2,0,1,0,None
5,337.4,4244,5142,1950,2124,1060,1.0,6,3,1,0,1,1,Old
6,359.4,4521,5000,1954,3220,1916,2.0,7,3,1,1,1,0,None
7,320.4,4030,10000,1950,2208,1200,1.0,6,3,1,0,1,0,None
8,333.5,4195,6835,1958,2582,1092,1.0,5,3,1,0,1,1,Recent
9,409.4,5150,5093,1900,4818,2992,2.0,8,4,2,0,1,0,None